[Service]
ExecStart=/usr/bin/python /home/pi/rpi_code_jessie/pullup_shutdown_jessie_screen/pishutdown.py
WorkingDirectory=/home/pi/rpi_code_jessie/pullup_shutdown_jessie_screen/
Restart=always

User=root
Group=root

[Install]
WantedBy=multi-user.target
