[Unit]
Description=Cycle weather morning

[Timer]
OnCalendar=Wed 06:05
OnCalendar=Wed 18:50
OnCalendar=Thu 06:05
OnCalendar=Thu 18:50
OnCalendar=Fri 06:05
OnCalendar=Fri 18:50
Unit=cycle_weather.service

[Install]
WantedBy=multi-user.target
